# Environment files
.vscode/
.venv/
env/


# User files
config.json
outputfile.*
testapi.py
testmodule.py
testfile.txt
ignore_list.json
  
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

